/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Own Styles */

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #1F2937;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1.125rem;
}

nav a:hover {
    text-decoration: underline;
}

.header-logo {
    color: #F9FAF8;
    font-size: 1.5rem;
}

/* Content */

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    gap: 4rem;
    width: 100%;
    padding: 4rem;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: extra-bold;
}

.hero p {
    text-size: 1.125rem;
    color: #E5E7EB;
}

.hero img {
    max-width: 20rem;
    object-fit: cover;
}

.hero button {
    margin-top: 2rem;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 4px;
    padding: 0.25rem 2rem;
}

.random-info {
    padding: 2rem 16rem;
    padding-bottom: 4rem;
}

.random-info h2 {
    text-align: center;
    font-size: 2.25rem;
}

.random-flex {
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    margin-top: 4rem;
}

.random-rahmen {
    height: 8rem;
    width: 8rem;
    border-radius: 6px;
    border: 2px solid #3882F6;
    margin: 0.5rem auto;
}

.random-card {
    text-align: center;
    width: 8rem;
    text-size: 1.125rem;
}

.quote {
    padding: 4rem 16rem;
    background-color: #E5E7EB;
}

.quote p:first-of-type {
    font-style: italic;
    font-weight: light;
    font-size: 2.25rem;
}

.quote p:last-of-type {
    text-align: right;
    font-weight: bold;
}

.cta {
    padding: 4rem 16rem;
}

.blauer-kasten {
    background-color: #3882F6;
    max-width: 40rem;
    max-height: 20rem;
    padding: 2rem;
    border-radius: 6px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.blauer-kasten p {
    color: #F9FAF8;
}

.blauer-kasten p:first-of-type {
    font-weight: bold;
}

.blauer-kasten button {
    color: #F9FAF8;
    border: solid 2px #F9FAF8;
    background-color: #3882F6;
    border-radius: 6px;
}

.blauer-kasten button:hover {
    color: #3882F6;
    border-color: #3882F6;
    background-color: #F9FAF8;
}